In [286]:
#imports
import pandas as pd
import os
from dotenv import load_dotenv

# Load environment variables
load_dotenv()

# Read CSV file
df = pd.read_csv(os.environ['TRAIN_LOCATION'])

#rename columns
df.rename(columns={'Working Professional or Student': 'Working Student', 'Have you ever had suicidal thoughts ?': 'Suicidal Thoughts', 'Family History of Mental Illness':'Family Mental Illness' }, inplace=True)

# Convert all column names to snake_case
df.columns = (
    df.columns
    .str.strip()                              # remove leading/trailing spaces
    .str.replace(' ', '_')                    # replace spaces with underscores
    .str.replace('[^A-Za-z0-9_]+', '', regex=True)  # remove special characters
    .str.lower()            
                      # convert to lowercase (optional)
)

# View result
df.head()

,id,name,gender,age,city,working_student,profession,academic_pressure,work_pressure,cgpa,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,suicidal_thoughts,workstudy_hours,financial_stress,family_mental_illness,depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

In [287]:
#Check for missing and duplicates
print(df.duplicated().sum()) # no duplicates
df.isna().sum() #We have alot of missing data that we will deal with in different ways

0

id                            0
name                          0
gender                        0
age                           0
city                          0
working_student               0
profession                36630
academic_pressure        112803
work_pressure             27918
cgpa                     112802
study_satisfaction       112803
job_satisfaction          27910
sleep_duration                0
dietary_habits                4
degree                        2
suicidal_thoughts             0
workstudy_hours               0
financial_stress              4
family_mental_illness         0
depression                    0
dtype: int64

In [288]:
# Pre processing

#Convert yes/no to binary
df = df.replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)
#Make working_student binary, if they are working it will be 1, student 0 
df['working_student'] = df['working_student'].replace({'Working Professional':1, 'Student': 0})
#Male 1 Female 0 
df['gender'] = df['gender'].replace({'Male': 1, 'Female': 0})
#Dealing with Null values
#For profession if they are a student their profession is "Student"
# df.loc[df['working_student'] == 0, 'profession'] = 'Student'
display(df.sample(10))
print(df.isna().sum())
df['sleep_duration'].value_counts().reset_index(names=['sleep_duration', 'count'])

       sleep_duration  count
0   Less than 5 hours  38784
1           7-8 hours  36969
2   More than 8 hours  32726
3           5-6 hours  32142
4           3-4 hours     12
5           6-7 hours      8
6           4-5 hours      7
7           2-3 hours      5
8           4-6 hours      5
9           6-8 hours      4
10          1-6 hours      4
11                 No      4
12         9-11 hours      2
13        10-11 hours      2
14     Sleep_Duration      2
15          Unhealthy      2
16                 45      2
17          8-9 hours      2
18         10-6 hours      1
19                9-5      1
20        45-48 hours      1
21          3-6 hours      1
22   Work_Study_Hours      1
23           49 hours      1
24       than 5 hours      1
25               Pune      1
26          9-6 hours      1
27            8 hours      1
28        35-36 hours      1
29             Indore      1
30          1-3 hours      1
31        55-66 hours      1
32           Moderate      1
33        40-45 hours      1
34          1-2 hours      1
35          9-5 hours      1